@tailwind base;

@tailwind components;

@tailwind utilities;

.logo {
  width: 200px;
}

.blog-post {
  @apply text-2xl;
}

.blog-post a {
  @apply font-bold text-sekai;
}

a {
  @apply font-bold text-sekai;
}

.blog-post blockquote {
  @apply m-4 bg-red-200 rounded-lg;
}

.card {
  @apply mt-4 mb-4 border rounded-lg shadow-lg;
}

h1 {
  @apply text-5xl;
  @apply font-bold;
}

h2 {
  @apply text-2xl;
  @apply font-bold;
}
